:root {
  --gray: #5a5b57;
  --maya-blue: #53d8fb;
  --blue-jeans: #5db2e8;
  --dark-blue: #001427;
  --light-gray: #c8cdd4;
  --pale-chestnut: #d4afb9;
  --yellow: #d7cf07;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

/* Navbar Styling */
#navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  height: 80px;
  width: 100%;
  color: var(--maya-blue);
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  z-index: 1;
}

#navbar a {
  color: inherit;
  text-decoration: none;
}

#nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  padding: 0px 0px 0px 10px;
  font-size: 1.5rem;
  letter-spacing: 0.05cm;
}

.nav-link:hover {
  transition: all 0.2s;
  transform: scale(1.05);
  text-decoration: underline;
  color: var(--yellow);
}

.nav-link {
  padding-right: 10px;
}

#social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.social-link {
  padding-right: 10px;
}

.social-link:hover {
  color: var(--yellow);
  transform: scale(1.05);
}
/* Main Styling */
main {
  margin-top: 80px;
  background-color: var(--light-gray);
}

/* Welcome Section Styling */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-jeans);
  height: 100vh;
}

#welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--light-gray); */
  color: var(--dark-blue);
  /* box-shadow: 1px 1px 5px var(--gray); */
  border-radius: 5px;
  padding: 20px;
  height: 20%;
  min-height: 200px;
  width: 20%;
  min-width: 250px;
  animation: slideIn 3s forwards;
  /* TODO - See if there's a better way to transition */
  position: absolute;
  left: 100%;
}

/* Project Section Styling */
#projects-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  background-color: var(--light-gray);
}

#featured-projects {
  text-align: center;
  text-decoration: underline;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark-blue);
  width: 250px;
  height: 200px;
  color: var(--light-gray);
  position: relative;
}

.project-tile:hover .project-tile-overlay {
  height: 100%;
  cursor: pointer;
}

.project-image {
  height: 200px;
  width: 250px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.project-tile-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 20, 39, 0.3);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  font-size: 1.2rem;
  text-align: center;
}

.tile-overlay-text {
  background-color: var(--dark-blue);
  padding: 5px;
  color: var(--pale-chestnut);
  font-weight: bold;
  border-radius: 3px;
}

.project-four {
  grid-row: 2;
}

.project-five {
  grid-row: 2;
}

.project-six {
  grid-row: 2;
}

#show-all {
  grid-row: 3;
  grid-column: 2;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid var(--maya-blue);
  margin: 20px 0;
  cursor: pointer;
  font-weight: bold;
}

#show-all:hover {
  background-color: var(--dark-blue);
  color: var(--pale-chestnut);
}

/* Connect Section Styling */
#connect-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: var(--maya-blue);
}

#connect-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.profile-link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--dark-blue);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
  box-shadow: 1px 1px 10px var(--dark-blue);
  font-weight: bold;
}

.profile-link:hover {
  cursor: pointer;
  border-color: var(--pale-chestnut);
  text-decoration: underline;
}
/* Footer Styling */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  color: var(--gray);
  height: 80px;
  width: 100%;
  font-size: 1.5rem;
}

/* Animation for welcome box */
@keyframes slideIn {
  100% {
    left: 40%;
  }
}

/* Media Queries */
@media screen and (max-width: 341px) {
  #connect-section {
    display: block;
    height: 25vh;
  }
  #connect-section h1 {
    text-align: center;
  }
  .profile-link { 
    border: none;
    border-radius: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 402px) {
  .profile-link {
    width: 80px;
    height: 80px;
  }

}
@media screen and (max-width: 503px) {
  #social-links {
    width: 55%;
    font-size: 1.2rem;
  }
  #nav-links {
    font-size: 1.2rem;
  }
  #welcome-section {
    text-align: center;
  }
  #welcome-box {
    width: 80vw;
    height: 25vh;
  }

  .project-tile {
    flex: 33%;
  }

  #projects-section {
    flex-direction: row;
  }

  #show-all {
    padding: 0;
    margin: 0;
  }

  @keyframes slideIn {
    100% {
      left: 4%;
    }
  }
}

@media screen and (max-width: 756px) {
  #projects-section {
    display: flex;
    flex-flow: row wrap;
    /* TODO - Keep this section from spilling over at smaller screen width */
    height: 100vh;
    width: 100vw;
    justify-content: center;
  }

  .project-tile {
    /* flex: 35%; */
    height: 28%;
  }

  #show-all {
    flex-wrap: wrap;
    flex-basis: 50%;
  }
}
