:root {
  --gray: #454a4b;
  --blue: #2196f3;
  --maya-blue: #53d8fb;
  --blue-jeans: #5db2e8;
  --dark-blue: #001427;
  --teal: #60d1e1;
  --light-gray: #c8cdd4;
  --pale-chestnut: #d4afb9;
  --yellow: #d7cf07;
  --white: #f7f0f0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  /* Patterns courtesy of https://www.toptal.com/designers/subtlepatterns/*/
  background: url("../minified/images/project_papper.png") fixed 9px 11px transparent;
  color: var(--dark-blue);
  scroll-behavior: smooth;
}

.dark {
  transition: all 0.3s;
  color: var(--white) !important;
  background-image: none !important;
  background-color: var(--dark-blue) !important;
  text-shadow: none !important;
  box-shadow: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 5% 0 5% 0;
}

.section-titles {
  font-family: "Lobster", cursive;
  font-size: 3rem;
}

/* Navbar Styling */
nav {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  z-index: 1;
}

#navbar a {
  color: inherit;
  text-decoration: none;
}

#nav-links {
  font-family: "Lobster", cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
  padding: 0px 0px 0px 10px;
  font-size: 1.9rem;
  letter-spacing: 0.02cm;
  font-weight: bold;
  text-transform: capitalize;
}

.nav-link:hover {
  transition: all 0.3s;
  text-decoration: underline;
  color: var(--white);
  text-shadow: 2px 3px 3px var(--gray);
}

.nav-link {
  padding-right: 10px;
}

#light-dark-mode-container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 0.6em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#social-links {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.social-link {
  padding-right: 20px;
}

.social-link:hover {
  color: var(--white);
  transition: all 0.3s;
  text-shadow: 2px 3px 3px var(--gray);
}

/* Welcome Section Styling */
/* *Possible future use but uneeded currently */
/* #welcome-section-bg-spoof {
  background-color: rgba(0, 0, 0, 0);
} */

/* #welcome-section-overlay {
  height: 100%;
  background: url('../minified/images/blue-notebook-vector.jpg') center/cover no-repeat transparent fixed;
} */

#welcome-section {
  background: url("../minified/images/blue-notebook-vector.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-width: 250px;
  padding: 10px;
  text-align: center;
}

#welcome-title {
  font-size: 3rem;
  text-shadow: 1px 2px 3px var(--dark-blue);
}

#welcome-title span {
  font-family: "Lobster", cursive;
  color: var(--blue);
}

#welcome-box p {
  font-weight: 600;
  font-size: 1.2em;
}

#welcome-box-blog-link {
  color: var(--blue);
  text-decoration: underline;
}

#welcome-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
}

/* About Me Section Styling */
#about-me {
  margin-top: 10%;
}
#about-me-intro img {
  width: 300px;
  float: left;
  /* TODO Adjust this at lower screen sizes so the text falls to next line */
  margin-right: 20px;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--gray);
}

#about-me-title-box {
  background-color: var(--blue);
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  box-shadow: 1px 1px 5px var(--gray);
  color: var(--white);
  text-shadow: 1px 1px 2px var(--dark-blue);
  text-align: center;
}

#about-me-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#about-me-lists ul {
  list-style: none;
}

#about-me-list-one li::before,
#about-me-list-two li::before {
  content: "➜ ";
  font-size: 1.3rem;
  color: var(--blue);
}

/* Project Section Styling */
#projects-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-row-gap: 60px;
  width: 100%;
  align-items: center;
  justify-items: center;
  margin: 4.5% 0 10% 0;
}

#featured-projects {
  grid-column: 1 / span auto;
  text-align: center;
  padding: 3px;
  background-color: var(--blue);
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  box-shadow: 1px 1px 5px var(--gray);
  color: var(--white);
  text-shadow: 1px 1px 2px var(--dark-blue);
}

.project-tile {
  border: 1px solid var(--dark-blue);
  width: 250px;
  height: 200px;
  position: relative;
  box-shadow: 1px 1px 5px var(--gray);
  border-radius: 5px;
}

.project-tile:hover .project-tile-overlay {
  height: 100%;
  box-shadow: 0px 0px 30px var(--light-gray);
}

.project-image {
  height: 200px;
  width: 250px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.project-tile-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 20, 39, 0.3);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
}

.project-tile-overlay a {
  background-color: var(--blue);
  padding: 5px;
  color: var(--white);
  font-weight: bold;
  border-radius: 3px;
  text-shadow: 1px 1px 3px var(--dark-blue);
  box-shadow: 1px 1px 5px var(--dark-blue);
}

.tile-overlay-title {
  color: var(--dark-blue);
  font-weight: bold;
  background-color: var(--white);
  width: 100%;
  box-shadow: 1px 1px 5px var(--dark-blue);
  border-radius: 3px;
}

.tile-overlay-text {
  cursor: pointer;
}

.project-tile-title-outter {
  text-align: center;
  font-weight: bold;
}

#show-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 190px;
  font-weight: bold;
  grid-row: 4;
  margin: auto;
  background-color: var(--blue);
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  box-shadow: 1px 1px 5px var(--gray);
  color: var(--white);
  text-shadow: 1px 1px 2px var(--dark-blue);
}

#show-all:hover {
  transition: all 0.3s;
  font-size: 1.1rem;
  text-decoration: underline;
  transform: scale(1.1);
}

/* GitHub and fCC profiles parent container styling */
#around-the-web {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  width: 100%;
}

#around-the-web-title {
  text-align: center;
  text-shadow: 1px 1px 5px var(--light-gray);
}

/* GitHub/fCC User Section Styling */
#github-logo {
  margin-right: 30%;
  font-size: 1.9rem;
}

.gh-items:before {
  content: "↪ ";
}

#github-user-list li,
#fcc-user-list li {
  list-style: none;
  padding: 5px 0;
  font-size: 1.05em;
  font-weight: 500;
}

#github-user-list li:last-of-type {
  cursor: pointer;
}

#github-user-list img {
  max-width: 60%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--dark-blue);
}

#github-user-list a,
#fcc-user-list a {
  text-decoration: underline;
}

#github-user-list a:hover,
#fcc-user-list a:hover {
  color: var(--blue);
  text-shadow: 1px 1px 3px var(--light-gray);
  text-decoration: none;
  transition: all 0.2s;
}

/* fcc container styling */
#fcc-section,
#github-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fcc-logo {
  margin: 10px 0;
  padding: 5px;
  background-color: #006400;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--dark-blue);
}
#fcc-heatmap {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 80%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--dark-blue);
}

/* Connect Section Styling */
#connect-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#connect-section h1 {
  text-align: center;
  margin-bottom: -8px;
  text-shadow: 1px 1px 5px var(--light-gray);
}

#connect-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 5% 0 5% 0;
}

.connect-social-link {
  font-size: 3.5rem;
  display: flex;
  flex-flow: row wrap;
  padding-right: 25px;
  color: var(--blue);
  text-shadow: 2px 2px 3px var(--light-gray);
}

.connect-social-link:hover {
  transition: all 0.3s;
  color: var(--gray);
  text-shadow: 1px 1px 1px var(--blue);
  transform: scale(1.03);
}

/* Call to Action Section Styling */
#call-to-action {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}

#call-to-action p {
  text-align: center;
  padding-bottom: 3%;
  width: 60%;
}

#quote-button {
  border: 1px solid var(--gray);
  box-shadow: 1px 1px 5px var(--gray);
  color: var(--light-gray);
  background-color: var(--blue);
  padding: 15px;
  width: 150px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.5rem;
}

#quote-button:hover {
  color: var(--blue);
  background-color: var(--gray);
}

/* Footer Styling */
#footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#copyright,
#to-the-top-link {
  font-weight: bold;
  font-size: 1.3rem;
}

#to-the-top-link:hover {
  text-decoration: underline;
  color: var(--blue);
}

/* Media Queries */
@media screen and (max-width: 341px) {
  #welcome-box p {
    font-size: 1rem;
  }
  #connect-section {
    display: flex;
    flex-direction: row;
  }

  .profile-link {
    border: none;
    border-radius: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 402px) {
  .project-eight {
    margin-bottom: 8%;
  }
  .profile-link {
    width: 100px;
    padding: 5px;
    height: 80px;
  }
}

@media screen and (max-width: 503px) {
  #about-me-intro img {
    width: 95%;
    margin: 5% 0 8% 2%;
  }
  #wrapper {
    width: 90%;
  }

  #welcome-box {
    margin-bottom: 30%;
  }
  #welcome-title {
    font-size: 1.9rem;
  }

  #social-links {
    width: 55%;
    font-size: 1.3rem;
  }

  #nav-links {
    font-size: 1.2rem;
  }

  #welcome-section {
    text-align: center;
  }

  #welcome-box {
    margin-top: 10%;
  }

  #projects-section {
    flex-direction: row;
  }
}

@media screen and (max-width: 756px) {
  nav, .nav-link {
    font-size: 1.4rem;
  }

  #welcome-box {
    margin-bottom: 20%;
  }
  #projects-section {
    display: flex;
    flex-direction: column;
    flex: 50%;
  }

  .project-tile {
    margin: 5% 0 10% 0;
  }

  #around-the-web {
    flex-wrap: wrap;
  }

  #call-to-action p {
    width: 85%;
  }
}

@media screen and (max-width: 1110px) {
  #projects-section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
