:root {
  --gray: #4c5253;
  --blue: #2196F3;
  --maya-blue: #53d8fb;
  --blue-jeans: #5db2e8;
  --dark-blue: #001427;
  --light-gray: #c8cdd4;
  --pale-chestnut: #d4afb9;
  --yellow: #d7cf07;
  --white: #f7f0f0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  /* Patterns courtesy of https://www.toptal.com/designers/subtlepatterns/*/
  background: url("../minified/images/project_papper.png") fixed 9px 11px transparent;
  color: var(--gray);
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar Styling */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  z-index: 1;
}

#navbar a {
  color: inherit;
  text-decoration: none;
}

#nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  padding: 0px 0px 0px 10px;
  font-size: 1.5rem;
  letter-spacing: 0.02cm;
  text-shadow: 2px 3px 3px var(--light-gray);
  font-weight: bold;
}

.nav-link:hover {
  transition: all 0.3s;
  text-decoration: underline;
  color: var(--blue);
}

.nav-link {
  padding-right: 10px;
}

#social-links {
  font-size: 1.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  text-shadow: 1px 1px 2px var(--light-gray);
}

.social-link {
  padding-right: 10px;
}

.social-link:hover {
  color: var(--blue);
  transition: all 0.3s;
}

/* Welcome Section Styling */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-width: 250px;
  padding: 10px;
  text-align: center;
  color: var(--gray);
}

#welcome-title {
  font-size: 3em;
  text-shadow: 1px 2px 3px var(--dark-blue);
}

#welcome-title span {
  color: var(--blue);
}

#welcome-box p {
  font-weight: 600;
  font-size: 1.2em;
}

#welcome-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
}

/* Project Section Styling */
#projects-section {
  display: grid;
  /* grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: repeat(4, 1fr); */
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-row-gap: 65px;
  /* height: 100%; */
  width: 100%;
  align-items: center;
  justify-items: center;
  opacity: 100%;
  background-blend-mode: lighten;
}

#featured-projects {
  grid-column: 1 / span auto;
  text-align: center;
  padding: 5px;
  font-size: 2.2em;
  background-color: var(--blue);
  border-radius: 5px;
}

.project-tile {
  border: 1px solid var(--dark-blue);
  width: 250px;
  height: 200px;
  position: relative;
  box-shadow: 1px 1px 5px var(--gray);
  border-radius: 5px;
}

.project-tile:hover .project-tile-overlay {
  height: 100%;
  box-shadow: 0px 0px 30px var(--yellow);
}

.project-image {
  height: 200px;
  width: 250px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.project-tile-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 20, 39, 0.3);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
}

.project-tile-overlay a {
  background-color: var(--dark-blue);
  padding: 5px;
  color: var(--yellow);
  font-weight: bold;
  border-radius: 3px;
}

.tile-overlay-text {
  cursor: pointer;
}

/* .project-one,
.project-two,
.project-three {
  grid-row: 2;
}

.project-four,
.project-five,
.project-six {
  grid-row: 3;
} */

#show-all {
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-row: 3; */
  grid-column: 2;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: 2px solid var(--maya-blue);
  font-weight: bold;
  grid-row: 4;
  background-color: var(--dark-blue);
  color: var(--yellow);
  margin-bottom: 5%;
}

#show-all:hover {
  transition: all 0.3s;
  font-size: 1.1em;
  text-decoration: underline;
  box-shadow: 0px 0px 30px var(--yellow);
}

/* GitHub and fCC profiles parent container styling */
#around-the-web {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  border-top: 20px solid var(--dark-blue);
}

/* GitHub/fCC User Section Styling */
#github-logo {
  width: 200px;
  margin-right: 100px;
}

.gh-items:before {
  content: "↪ ";
}

#github-user-list li,
#fcc-user-list li {
  list-style: none;
  padding: 5px 0;
  font-size: 1.05em;
  font-weight: 500;
}

#github-user-list li:last-of-type {
  cursor: pointer;
}

#github-user-list img {
  max-width: 60%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--dark-blue);
}

#github-user-list a,
#fcc-user-list a {
  text-decoration: underline;
}

#github-user-list a:hover,
#fcc-user-list a:hover {
  color: var(--yellow);
  text-decoration: none;
  transition: all 0.2s;
}

/* fcc container styling */
#fcc-section,
#github-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fcc-logo {
  margin: 10px 0;
  padding: 5px;
  background-color: #006400;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--dark-blue);
}
#fcc-heatmap {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 80%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--dark-blue);
}

/* Connect Section Styling */
#connect-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  background-color: var(--white);
  border-top: 20px solid var(--dark-blue);
}

#connect-section h1 {
  text-align: center;
}

#connect-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.profile-link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  margin-right: 35px;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--yellow);
  border: 2px solid var(--maya-blue);
  background-color: var(--dark-blue);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0px 5px 0px 5px;
  box-shadow: 1px 1px 5px var(--dark-blue);
}

.profile-link:hover {
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.1em;
  text-decoration: underline;
}
/* Footer Styling */
#footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark-blue);
  color: var(--gray);
  /* height: 100%; */
  width: 100%;
  font-size: 1.9em;
}

#social-links-footer-container {
  display: flex;
  /* flex-wrap: wrap; */
  /* height: 100%; */
  /* align-items: center; */
}

.social-link-footer {
  padding-left: 10px;
}

.social-link-footer::after {
  content: "/";
}

.social-link-footer:last-of-type:after {
  content: "";
}
.social-link-footer a:hover {
  color: #d7cf07;
  color: var(--yellow);
  transform: scale(1.03);
  transition: all 0.2s;
}

/* Media Queries */
 @media screen and (max-width: 341px) {
  #connect-section {
    display: flex;
    flex-direction: row;
  }

  .profile-link {
    border: none;
    border-radius: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 402px) {
  .profile-link {
    width: 100px;
    padding: 5px;
    height: 80px;
  }
}
@media screen and (max-width: 503px) {
  #social-links {
    width: 55%;
    font-size: 1.3rem;
  }

  #nav-links {
    font-size: 1.2rem;
  }

  #welcome-section {
    text-align: center;
  }

  #welcome-box {
    margin-top: 30%;
  }

  #projects-section {
    flex-direction: row;
  }

  .social-link-footer::after {
    content: "";
  }
}

@media screen and (max-width: 756px) {
  #projects-section {
    display: flex;
    flex-direction: column;
    flex: 50%;
  }

  #show-all {
    margin: 20px 0;
  }
} 

@media screen and (max-width: 1071px) {
  #show-all {
    grid-column: 1 / span 2; 
  }
}

@media screen and (max-width: 1110px) {
  #projects-section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
