.about-containers {
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  column-gap: 1rem;
  align-items: center;
}

.form-parent-container {
  width: 80%;
}

.aboutImg {
  width: 100% !important;
  max-width: 500px;
}

.about-social-list {
  display: flex;
  flex-direction: row;
}

.social-icons {
  fill: black !important;
}

.social-list-items {
  list-style: none;
}
