.about-containers {
  max-width: 75%;
}

.about-form-container {
  /* Image courtesy of https://www.svgbackgrounds.com */
  background-image: url('../images/formPattern.svg');
}

.aboutImg {
  border-radius: 10% 70% 20% 70%/70% 20% 70% 20%;
  max-width: 400px;
  min-width: 250px;
}
