.about-containers {
  max-width: 60%;
}

.about-form-container {
  /* Image courtesy of https://www.svgbackgrounds.com */
  background-image: url('../images/formPattern.svg');
}

.me-in-dallas {
  width: 10rem;
}
