/* a::before {
  transform: scale(1.03);
} */

a:hover {
  transition: all 0.1s;
}

a:hover::before {
  transform: rotate(0.5deg);
  transition: all 0.1s !important;
  background: linear-gradient(90deg, var(--myPurple), var(--myRed));
}
