.consulting-inner-container {
  width: 80%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.consulting-collab-img {
  justify-self: center;
  width: 100% !important;
  max-width: 900px;
  max-height: 450px;
}
