.consulting-inner-container {
  width: 80%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .consulting-inner-container ol {
  list-style: decimal;
} */