.cta {
  position: relative;
}

.me-img {
  height: 10rem;
  width: 6rem;
}

.cta-buttons {
  box-shadow: 3px 3px 10px rgba(22, 21, 20, 0.65);
}

@media screen and (min-width: 576px) {
  .me-img {
    height: 18rem;
    width: 12rem;
  }
}
@media screen and (min-width: 768px) {
  .me-img {
    height: 20rem;
    width: 16rem;
  }
}
@media screen and (min-width: 992px) {
  .me-img {
    height: 22rem;
    width: 18rem;
  }
}
@media screen and (min-width: 1200px) {
  .me-img {
    height: 24rem;
    width: 18rem;
  }
}
