footer article:first-of-type {
  background-color: var(--myDarkPurple);
}

footer article ul li a, footer article p a {
  height: 101%;
  width: 101%;
  padding: 4px;
}

footer article ul li a:hover, footer article p a:hover {
  background-color: var(--myRed);
  text-decoration: underline;
}

