.index-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.planet {
  height: 25rem;
  width: 22.5rem;
  position: absolute !important;
  /* margin-top: -50rem; */
  top: 0;
  margin-left: 28rem;
  left: 0;
  z-index: 0;
}

.astronaut {
  height: 40rem;
  width: 21.5rem;
  position: absolute !important;
  top: 0;
  right: 0;
}

.rocket {
  height: 65rem;
  width: 28rem;
  position: absolute !important;
  top: 0;
  left: 0;
  margin-top: 12rem;
  z-index: 0;
}

@media screen and (max-width: 1280px) {
  .astronaut {
    display: none;
  }

  .planet {
    display: none;
  }

  .rocket {
    display: none;
  }
}

@media screen and (max-width: 1840px) {
  .astronaut {
    width: 19rem;
    height: 35rem;
    margin-top: 1rem;
  }

  .planet {
    height: 25rem;
    width: 22.5rem;
  }

  .rocket {
    height: 50rem;
    width: 20rem;
    margin-top: 10rem;
    right: 0;
  }
}
