.planet {
    height: 40rem;
    width: 40rem;
    position: absolute !important;
    margin-top: -20rem;
    margin-left: 10rem;
    z-index: 0;
  }

  .astronaut {
    height: 40rem;
    width: 21.5rem;
    position: absolute !important;
    top: 0;
    right: 0;
  }
  
  .rocket {
    height: 65rem;
    width: 28rem;
    position: absolute !important;
    top: 0;
    left: 0;
    margin-top: 12rem;
  }

  @media screen and (max-width: 1840px) {
    .astronaut {
      width: 19.5rem;
      height: 35rem;
      transform: rotate(-8.5deg);
    }

    .planet {
      height: 35rem;
      width: 35rem;
      margin-left: 0;
    }

    .rocket {
      height: 50rem;
      width: 20rem;
      margin-top: 10rem;
      right: 0;
    }
  }