.services-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 8rem 8rem 0 8rem;
  column-gap: 2rem;
}
.why-hire-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 6rem 8rem 8rem 8rem;
  column-gap: 2rem;
}
