.services-list-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; */
  margin: 6rem;
  /* column-gap: 2rem; */
}

/* .services-list p a::before {
  height: 4px;
  position: absolute;
  background: #421ed2;
  content: '';
  width: 7rem;
  transform: skew(10deg) rotate(1.3deg);
  margin-top: 1.5rem;
}

.services-list p a:hover::before {
  transition: all 0.2s;
  background-color: #ff4945;
  scale: 1.05;
} */

.services-list ul { 
  position: relative;
  z-index: 10;
}

li p a {
  position: relative;
}

li p a:hover {
  text-decoration: underline;
  color: var(--myDarkGray);
}

li p a:before {
  background: var(--myRed);
  height: 1.5rem !important;
  position: absolute;
  content: "";
  width: 100%;
  bottom: -2px;
  z-index: -1;
}

li p a:hover:before {
  height: 0.3rem !important;
  transform: skew(1deg, 1deg);
  transition: all ease-in-out 0.1s;

}

.services-list-container,
.why-hire-me-container {
  max-width: 1000px;
}

.why-hire-me-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; */
  margin: 6rem;
  /* column-gap: 2rem; */
}

@media screen and (max-width: 1000px) {
  .services-list-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .why-hire-me-container {
    grid-template-columns: 1fr;
  }

  .services-list {
    margin-top: 3rem;
  }

  .why-hire-me-container-books-img {
    max-width: 40rem;
    /* margin-left: 6rem; */
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 640px) {
  .why-hire-me-container-books-img {
    max-width: 18rem !important;
  }
}

@media screen and (max-width: 1281px) {
  .services-list-container {
    margin: 1.5rem;
  }
  .why-hire-me-container {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 1441px) {
  .services-list-container {
    margin: 3rem;
  }

  .why-hire-me-container {
    margin: 3rem;
  }
}
