/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

@import "./cta.css";
@import "./index.css";

body,
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}