.testimonials-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(auto, 1fr);
  max-width: 100rem;
  column-gap: 8rem;
}

[data-key]:nth-of-type(odd) {
  justify-self: end;
}

.testimonials-container-1 {
  grid-column: 1;
  height: 100%;
  grid-row: 3 / span 3;
}

.testimonials-container-2 {
  grid-column: 2;
}

.testimonials-images {
  height: 10rem;
  width: 10rem;
  border-radius: 30%;
}

@media screen and (max-width: 768px) {
  .testimonials-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
  }

  .testimonials-container-1 {
    grid-row: 1;
    grid-column: 1;
  }

  .testimonials-container-2 {
    grid-row: 2;
    grid-column: 1;
  }
}
